language: python

stages:
- test
- name: deploy
  if: repo = ESSS/flask-restalchemy AND tag IS present

install:
- pip install -U pip
- pip install -U tox

script:
- tox

jobs:
  include:
  - python: '3.6'
    env: TOXENV=docs

  - python: '3.7'
    env: TOXENV=py37

  - python: '3.6'
    env: TOXENV=py36

  - python: '3.7'
    env: TOXENV=linting

  - stage: deploy
    python: '3.6'
    env:
    install: pip install -U setuptools setuptools_scm
    script: skip
    deploy:
      provider: pypi
      distributions: sdist bdist_wheel
      user: "__token__"
      password:
        secure: pUEIhMcMDC5VqEq9gArGbrjh84UyREUB0EFHd+aX+XTiDZvxwKckAsTUEkJe539bRhgqiX80DZKV1zakruLaajH6ejIqNAqzVzLMzxvhXtz/EZLu0Rts05zER8HcKDpEYlTV0/O5EK5mZb4P1Tm2db/DvJMM4ASJPfDxyXpENMJGEqbvORab415uQ2ysL872KCFsnoJ5JW14gNid9MAZQxcyODo+0MzlMwsbJYk2Lk7pNn2HHDDQCeiP4l1bEopno6Sigrt+Xf0mjDsMaGQ+iI8cEeuc7xmfvEPoy0nne6M+j0YO4sprpD0mTFNJLJ0RZ34uvEDLuz4RU5FyLK+xEMM/AmgWBAmJRvI+FDkxUiGnO+0JnOkPBXX9HALZLBK5gksFgRh9G8tIw8ox3n3slRklVcBY9m5snwsSwEGugUn7plF5ME+jt+Goq6DsSB0gGPpkxOzdrALTSiK3wP/JMxq89g/sx+HUisQxu9cu6ymPQYRkoq3Emcg9aQnxp98EqjYMwkvvJGQdQGC5RkPlDWN75jeqa8gcbArcfGJKelGgVA/BJJeFmXHb0ce6GgBaZPlGBhDRTcKK3lrLdxT4mmwT/JznfFyHA7wxCBPE/htF/Iq9AV1UVspO/D/Igv4QQPAOUaQlPVs3hyjbhKX4mWL6EVJwEPy+J6BVLtLQbV8=
      on:
        tags: true
        repo: ESSS/flask-restalchemy
        python: 3.6
branches:
  only:
  - master
  - "/^v(\\d+\\.)*\\d/"
